@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  scrollbar-width: thin;
  scrollbar-color: #1C1C24;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #151714;
}

*::-webkit-scrollbar-thumb {
  background-color: #1FC047;
  border-radius: 20px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

